In [1]:
import boto3
import io
import json
import pandas as pd

In [2]:
# AWS credentials to read files on S3 bucket
f = open('../credentials.json')
credentials = json.load(f)

s3_client = boto3.client(
    "s3",
    aws_access_key_id=credentials["Access key ID"],
    aws_secret_access_key=credentials["Secret access key"]
    )

s3_resource = boto3.resource(
    "s3",
    aws_access_key_id=credentials["Access key ID"],
    aws_secret_access_key=credentials["Secret access key"]
    )

In [21]:
# get IAG .dat data from S3 bucket
prefix_objs = s3_resource.Bucket("iag-usp").objects.filter(Prefix=f"raw/")
keys = [obj.key for obj in prefix_objs]
obj = s3_client.get_object(Bucket="iag-usp", Key='raw/PR40_IT_17.DAT')
df = pd.read_csv(io.BytesIO(obj["Body"].read()), sep="\s+")
df

       0.441  930.586  10.583   44  2017  9
0      0.444  930.584  10.667   44  2017  9
1      0.448  930.568  10.750   44  2017  9
2      0.455  915.193  10.917   44  2017  9
3      0.458  930.608  11.000   44  2017  9
4      0.462  930.627  11.083   44  2017  9
...      ...      ...     ...  ...   ... ..
86342  0.983  929.152  23.583  365  2017  9
86343  0.986  929.175  23.667  365  2017  9
86344  0.990  929.130  23.750  365  2017  9
86345  0.993  929.172  23.833  365  2017  9
86346  0.997  929.111  23.917  365  2017  9

[86347 rows x 6 columns]

In [13]:
# raw/ITU_2017.dat
list(df.columns)

['#HR',
 'YD',
 'Year',
 'T_CS215(C)',
 'RH_CS215(%)',
 'WS_034B(ms)',
 'WD_034B(degree)',
 'NetRL1(Wm2)',
 'Precip(mm)']

In [15]:
# raw/PR40_IT_17.DAT
list(df.columns)

['0.441', '930.586', '10.583', '44', '2017', '9']

In [17]:
# raw/SFZ_2017.dat
list(df.columns)

['#HR',
 'YD',
 'Year',
 'T_CS215(C)',
 'RH_CS215(%)',
 'WS_034B(ms)',
 'WD_034B(degree)',
 'NetRL1(Wm2)',
 'Precip(mm)',
 'WS_CSAT(m/s)',
 'WD_CSAT(degree)']

In [19]:
# raw/SFZe_2017.dat
list(df.columns)

['#HR',
 'YD',
 'Year',
 'SW_CMP3(Wm2)',
 'T_GMX(C)',
 'RH_GMX(%)',
 'P_GMX(mb)',
 'WD_GMX(degree)',
 'WS_GMX(ms)',
 'T_CS215_e(C)',
 'RH_CS215_e(%)']

In [11]:
# raw/PR40_IT_17.DAT

['raw/',
 'raw/ITU_2017.dat',
 'raw/PR40_IT_17.DAT',
 'raw/SFZ_2017.dat',
 'raw/SFZe_2017.dat']